body {
    background-color: #3B3B3B;
    font-size: 14px;
}
.navbar {
    border-radius: 0;
    background-color: #333;
}
.navbar .navbar-nav>li>a {
    text-transform: uppercase;
    color: #fff;
}
.navbar .navbar-nav>li.active>a,
.navbar .navbar-nav>li.active>a:hover,
.navbar .navbar-nav>li.active>a:focus {
    color: #F0CA54;
    background-color: #333;
}
.btn.btn-gold {
    color: #333;
    background-color: #F0CA54;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #F0CA54;
}
h2.decorated {
    color: #fff;
    position: relative;
    margin-bottom: 80px;
}
h2.decorated:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    height: 2px;
    background-color: #F0CA54;
}
h3 {
	color: #fff;
}
.panel {
    overflow: visible;
}
.panel img {
    max-width: 100%;
}
.panel:hover .panel-image {
    transform: scale(1.02);
}
.panel-image {
    transition: all .4s ease-in-out;
    border-radius: 2px 2px 0 0;
}
.panel-bg-image {
    height: 300px;
    background-size: cover;
}
textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
	border-radius: 3px;
    box-shadow: none;
    border: 2px solid #666;
	color: #d4d4d4;
	padding: 0 5px;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control {
	box-shadow: none;
    border-color: #F0CA54;
}
.error-text {
    color: #dd0000;
}
